@import "pmms.css";

html, body {
	font-size: 7vmax;
	overflow: hidden;
}

button {
	font-size: 7vmax;
}

#main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95vw;
}

#logo {
	width: 12vmax;
}

#title {
	color: pink;
	text-align: center;
	padding: 2vh 2vw;
	font-size: 8vmax;
	font-family: "Brush Script MT";
}

#subtitle {
	text-align: center;
	font-size: 3vmax;
	font-family: Helvetica;
}

#catalog {
	margin-top: 3vh;
	width: 100%;
}
